body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
}

/*header*/
header {
  height: 20%;
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.nav-list-container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header-item {
  flex-basis: 55%;
  margin-left: -3.7%;
}
.header-logo {
  color: #f9faf8;
  font-size: 24px;
}
/*hero*/
.hero-container {
  height: 50vh;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container > div {
  height: 70%;
}
.hero-text-item {
  width: 43%;
}
.hero-img-item {
  width: 54%;
}
.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-sec-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
}
.hero-btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: #3882f6;
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
.hero-img-item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*random section*/
.random-section {
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 90px;
}
.random-section > h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.random-info-container {
  width: 55em;
  margin-left: 22.5em;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 4em;
}
.random-img {
  width: 10em;
  height: 10em;
  border: #3882f6 solid 4px;
  border-radius: 20px;
}
.random-items {
  width: 150px;
  text-align: center;
}

/*quote section
1. background: grey
2. centred text
3.  bolded name*/
.quotes-section {
  background-color: #e5e7eb;
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote {
  width: 53%;
  margin-left: 2em;
  font-size: 36px;
  font-style: italic;
  text-align: left;
}
.quote-name {
  width: 50%;
  margin: auto;
  font-weight: 700;
  text-align: right;
  font-size: 18px;
}
/*call to action section*/
.call-section {
  background-color: white;
  padding-bottom: 100px;
  padding-top: 100px;
  color: #f9faf8;
}
.call-container {
  background-color: #3882f6;
  border-radius: 10px;
  width: 65em;
  height: 7em;
  margin: auto;
  display: flex;
  align-items: center;
}
.call-item1 {
  font-weight: bold;
}
.call-item2 {
  border: white 2px;
}

.call-item2 > button {
  background-color: #3882f6;
  color: #f9faf8;
  border: #f9faf8 2px solid;
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
footer {
  /* 1. change font colour, weight, for footer.  Also center it. */
  text-align: center;
  color: #e5e7e5;
  padding: 20px;
}
/*to do
2. change font-weight, color for call to action section.
3.  change button colors, border color, font colour and weight*/
